<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
    </head>
    <body>
        <div class="header">
            <img width="50px" height="50px" src="{{url_for('static', filename='img/ada.png')}}">
            <div class="header-right">
              <a href="#about">ADAquiz</a>
            </div>
          </div>
        <div id="panel">
        <div class="container">
        <div>
        {% for user in users %}
        <h5> Jogador: {{user.name}} Pontos: {{user.points}} </h5>
        {% endfor %}
    </div>
        <div>
            <h3 id="timer">Tempo: 15:00</h3>
            <div id="card">
                <h1 id="text">Pergunta:</h1>
                <h2>[[question]]</h2>
            </div>
        </div>
        <alter v-for="item in alternatives" v-bind:item="item" v-bind:verify_answer="verify_answer"></alter>
        </div>
    </div>
        <script>

        Vue.component('alter', {
            delimiters:["[[", "]]"], 
            props:['item', 'verify_answer'], 
            template:"<button class='options' v-on:click.self='verify_answer(item)'>[[item]]</button>"});

            var panel = new Vue({
                delimiters: ["[[", "]]"],
                el: "#panel",
                data:{
                    info: JSON.parse('{{info|safe}}'),
                    question: JSON.parse('{{info|safe}}')[0],
                    alternatives: JSON.parse('{{info|safe}}').slice(1, 6),
                    correct: false
                },
                methods:{
                    verify_answer: function verify_answer(item){
                        if(this.info[6] == item){
                            alert("Acertou!");
                            this.correct = true;
                        }else{
                            alert("Errou!");
                        }

                        change_question();
                    }
                }
            });

            function change_question(){
                axios.post('/change_question', {correct : panel.correct});
                setTimeout(function(){ window.location.href = "{{url_for('game')}}"; }, 1000);
            }
            time = 15;
            setInterval(function(){
                time--;
                document.getElementById("timer").innerHTML = "Tempo: " + String(time) + ":00";
                if(time == 1){
                    change_question();
                }
             }, 1000);
            
        </script>
    </body>
</html>

