<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Waiting Room</h1>
        <div id="options">
        <a>Ready: [[ready]]</a>
        <br>
        <button id="ready" v-on:click.self="update_ready">Ready!</button>
        <button id="start" v-on:click.self="update_ready">Start Game</button>
        </div>
    </body>
    <script>
        var options = new Vue({
            delimiters: ["[[", "]]"],
            el: "#options",
            data:{
                name: "{{name}}",
                admin: "{{admin}}",
                ready: "{{ready}}"
            },
            methods:{
                update_ready: function update_ready(){
                    window.location.href = "{{url_for('ready')}}";
                },
                start_game: function start_game(){
                    window.location.href = "{{url_for('update_screen')}}";
                }
            }
        });

        if(options.admin != 1){
            document.getElementById("start").style.display = "none";
        }else{
            document.getElementById("ready").style.display = "none";
        }

        var timer = window.setInterval(function(){
            axios.get('/update_screen', {}).then(response => options.ready = response["data"]);
        }, 1000);

        var check_start = window.setInterval(function(){
            axios.get('/start', {}).then(function action(response){
                if(response["data"] == 1){
                    window.location.href = "{{url_for('game')}}";
                }
            });
        }, 1000);

    </script>
</html>


